<h1>Welcome to Amazon</h1>
<p>This present moment is perfect simply due to the fact you're experiencing it. We don't make mistakes we just have happy little accidents. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe.

Paint anything you want on the canvas. Create your own world. This is gonna be a happy little seascape Everyone wants to enjoy the good parts - but you have to build the framework first. Don't forget to tell these special people in your life just how special they are to you. If there are two big trees, eventually there will be a little tree.</p>

<%= render 'productloop' %>